## Web Data Extraction or Web Scraping of New York city's Population and Demographic Data 

## ------------------------------------------------------------------------------------------------------------------------------------

## Part 1 - Population Data

## Population data is available in the following wiki page
## https://en.wikipedia.org/wiki/New_York_City

## Downloading all the required libraries for Web Scraping

In [4]:
# Downloading numpy and pandas

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print("Numpy and Pandas imported")

Numpy and Pandas imported

In [5]:
import json # library to handle JSON files

print("Json library imported")

Json library imported

In [6]:
!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
print("Geopy library imported")

Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
Geopy library imported

In [7]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
print("matplotlib imported")

matplotlib imported

In [96]:
!pip install beautifulsoup4
!pip install lxml
import requests # library to handle requests
import random # library for random number generation
from bs4 import BeautifulSoup # package for parsing HTML and XML documents
print("Beautiful soup imported")

Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: lxml in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.5.1)
Beautiful soup imported

In [9]:
import csv # implements classes to read and write tabular data in CSV form

print('csv imported.')

csv imported.

## Web scrapping of Population data from wikipedia page using BeautifulSoup.

In [10]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})


headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

## Laod data from csv

In [82]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data

,New York City's five boroughsvte\n,Jurisdiction\n,Population\n,Gross Domestic Product\n,Land area\n,Density\n,Borough,County,Estimate (2019),billions(2012 US$),per capita(US$),square miles,squarekm,persons /mi2,persons /km2\n
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,"33,867\n","13,006\n",NaN,NaN,NaN,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,"36,147\n","13,957\n",NaN,NaN,NaN,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,"71,341\n","27,544\n",NaN,NaN,NaN,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,"20,767\n","8,018\n",NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,"8,157\n","3,150\n",NaN,NaN,NaN,NaN,NaN,NaN
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,State of New York,"19,453,561","1,731.910","89,000","47,126.40","122,056.82",412,159\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
Pop_data.drop(Pop_data.columns[[3,8,9,10,11,12,13,14]], axis=1,inplace=True)
Pop_data

,New York City's five boroughsvte\n,Jurisdiction\n,Population\n,Land area\n,Density\n,Borough,County
0,The Bronx\n,\n Bronx\n,"1,418,207\n","30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n","35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n","368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n","41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n","30,500\n",58.37\n,151.18\n,"8,157\n"
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n"
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN

## Remove white spaces and rename columns

In [84]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte\n,Jurisdiction\n,Population\n,Landarea\n,Density\n,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,418,207\n","30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n","35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n","368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n","41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n","30,500\n",58.37\n,151.18\n,"8,157\n"
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n"
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2019', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2019,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,418,207\n","30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n","35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n","368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n","41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n","30,500\n",58.37\n,151.18\n,"8,157\n"
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n"
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN

## Replace newline('\n') from each string from left and right sides

In [86]:

Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2019']=Pop_data['Estimate_2019'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_km'].replace(to_replace='\n', value='', regex=True)

Pop_data

,Borough,County,Estimate_2019,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207","30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903","35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706","368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858","41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143","30,500",58.37,151.18,"8,157"
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636"
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN

## Shift data in the last two rows

In [88]:

Pop_data.loc[5:,['persons_sq_mi','persons_sq_km']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2019','square_miles']] = Pop_data.loc[2:,['Estimate_2019','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2019']] = Pop_data.loc[2:,['County','Estimate_2019']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2019,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207","30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903","35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706","368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858","41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143","30,500",58.37,151.18,"8,157"
5,NaN,City of New York,"8,336,817",842.343,NaN,302.64,783.83
6,NaN,State of New York,"19,453,561","1,731.910",NaN,"47,126.40","122,056.82"
7,NaN,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN

## Remove NaN

In [89]:

Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2019,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207","30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903","35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706","368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858","41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143","30,500",58.37,151.18,"8,157"
5,,City of New York,"8,336,817",842.343,,302.64,783.83
6,,State of New York,"19,453,561","1,731.910",,"47,126.40","122,056.82"
7,,Sources:[12][13][14] and see individual boroug...,,,,,

## Drop the last row

In [90]:

i = Pop_data[((Pop_data.County == 'Sources:[12][13][14] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2019,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207","30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903","35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706","368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858","41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143","30,500",58.37,151.18,"8,157"
5,,City of New York,"8,336,817",842.343,,302.64,783.83
6,,State of New York,"19,453,561","1,731.910",,"47,126.40","122,056.82"

## Save data frame as csv file

In [92]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)
print("Data frame saved")

Data frame saved